.banner {
  height: 100vh;
  background: url("../../images/background.png");
  background-size: 100%;
  background-size: cover;
  height: 600px;
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.banner-elements p {
  padding-bottom: 20px;
}
